[package]
name = "xpilot"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mpu6050-dmp = { git = "https://github.com/gqf2008/mpu6050-dmp-rs" }
xtask = { git = "https://github.com/gqf2008/xtask" }
bare-metal = "1.0.0"
bit_field = "0.10.1"
crossbeam = {version = "0.8.1", default-features = false, features = ["alloc"]}
embedded-hal = "0.2.3"
heapless = "0.7"
lazy_static = {version = "1.4.0", default-features = false, features = ["spin_no_std"]}
nb = "1.0.0"
profont = "0.6.1"
spin = "0.9.3"
log = "0.4.17"
drogue-esp8266 = "0.3.1"